@import "tailwindcss";

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}

.delay-100 {
  animation-delay: 0.1s;
}

.pattern-dots-md {
  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: 16px 16px;
}